:root {
  --text-color: #111a19;
  --link-color: #f8d794;
  --background-color: #809076;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}